<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "apps.aquilesazar.org"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Ministerios Aquiles Azar</name>

    <description>
        Aplicación de los Ministerios Aquiles Azar
    </description>

    <author href="http://aquilesazar.org/" email="oficinadelavision@aquilesazar.org">
        Ministerios Aquiles Azar
    </author>
<access origin="*" /> 

</widget>
